body {
    margin: 10px;
}

.dropdown-menu-hidden {
    display: none;
}

#navbar_menu {
    display: block;
}

@media(max-width:992px) {
    .dropdown-menu-hidden {
        display: contents;
    }
    #navbar_menu {
        display: none;
    }
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width:1200px) {
    #navbar-menu {
        display: none;
    }
}

#navbar_button {
    background: orange;
    border-radius: 50px;
}

.bar {
    width: 20px;
    height: 3px;
    background-color:orange;
    margin: 3px 0;
}

#logo {
    height: 70px;
    float: left;
    /* margin-left: 100px; */
}

@media(max-width:576px) {
    #logo {
        width: 200px;
    }
}

.top-banner {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
}

#textcolor {
    color: aliceblue;
}

#contact {
    background-color: black;
    color: aliceblue;
}

.font-orange {
    font-family: 'Dancing Script', cursive;
    color: orange;
    text-align: center;
    font-size: 45px;
}

.font-white {
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
}

.font-black {
    font-family: 'Anton', sans-serif;
    color: black;
    text-align: center;
    font-size: 50px;
}

.container .button-orange-top-banner {
    position: absolute;
    width: 175px;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 148, 47);
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}

.container .button-blue-top-banner {
    position: absolute;
    width: 175px;
    top: 70%;
    right: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(75, 144, 247);
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}

@media (max-width: 1200px) {
    .container .button-orange-top-banner {
        width: 145px;
        position: absolute;
        left: 35%;
        font-size: 14px;
        padding: 6px 12px;
    }
    .container .button-blue-top-banner {
        width: 145px;
        right: 20%;
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 768px) {
    .container .button-orange-top-banner {
        width: 80px;
        left: 35%;
        font-size: 8px;
        padding: 6px 8px;
    }
    .container .button-blue-top-banner {
        width: 80px;
        right: 20%;
        font-size: 8px;
        padding: 6px 8px;
    }
}

.top-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-banner-orange-text {
    color: rgb(253, 162, 77);
}

.packages-section {
    text-align: center;
}

#packages-section-button-bottom {
    margin: 20px;
    background-color: rgb(75, 144, 247);
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.hotel-list {
    position: absolute;
    top: 30%;
    margin: 10px;
    height: 100px;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 15px;
    text-align: center;
}

.service-list .airline-list {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40%;
    margin: 10px;
    height: 100px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.service-list .taxi-list {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40%;
    margin: 10px;
    height: 100px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.service-list .hotel-list:hover {
    background-color: orange;
}

.service-list .airline-list:hover {
    background-color: orange;
}

.service-list .taxi-list:hover {
    background-color: orange;
}

.service-list .service-button {
    position: absolute;
    top: 87%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 10px;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    height: 75px;
    background-color: rgb(75, 144, 247);
    color: white;
    font-size: 25px;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.list-banner-text {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#list-banner-orange-text {
    color: rgb(253, 162, 77);
}

.icon1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#list-section {
    text-align: center;
}

.icon2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagesize {
    width: 200px;
    height: 250px;
}

.holiday-section {
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

@media (max-width:992px) {
    .tourconatiner {
        width: 50%;
    }
}

.package-images {
    height: 175px;
    width: 100%;
    margin: 5px;
}

@media(max-width:768px) {
    .a {
        width: 70%;
    }
}

/* 576px	768px	992px	1200px */

@media(max-width:768px) {
    .b {
        width: 60%;
    }
}